/* shared styles */

*{
    margin: 0px;
}

.global-container{
    width: 1320px;
    /* border: 1px solid red; */
}

.primary-section-heading{
    font-family: "Merriweather", serif;
    font-size: 72px;
    font-weight: bolder;
    color: white;

}


/* new year party related styles */

.new-year-party{
    padding: 100px 0px;
}

.new-year-party > .global-container{
    height: 600px;
    background-image: linear-gradient(rgba(7, 2, 17, 100), rgba(7, 2, 17, 0)), url(../images/Banner\ Image.png);
    border-radius: 16px;
    margin: auto;
    text-align: center;
    align-content: center;
}

.banner-subheading{
    font-family: "Inter", serif;
    font-size: 32px;
    font-weight: normal;
    color: white;
    margin-bottom: 16px;
}

/* discount related styles */

.discount > .global-container{
    margin: auto;
    text-align: center;
    padding: 120px 50px;
}

.discount-content{
    text-transform: uppercase;
}

.discount-title{
    font-family: "Inter", serif;
    font-size: 88px;
    font-weight: bold;
    color: #FF0000;
    margin-bottom: 38px;
}

.discount-description{
    font-family: "Inter", serif;
    font-size: 24px;
    color: #FF0000;
    margin-bottom: 16px;
}

.discount-categories{
    font-family: "Inter", serif;
    font-size: 48px;
    font-weight: bold;
    color: #070211;
    margin-bottom: 48px;
}

/* midnight party related styles */

.midnight-party{
    margin: 120px 0px;
}

.midnight-party-content{
    display: flex;
    justify-content: space-between;
    
}

.midnight-party > .global-container{
    height: 600px;
    background-image: linear-gradient( to right, rgba(7, 2, 17, 90), rgba(7, 2, 17, 0)), url(../images/Vectorrr.png);
    background-repeat: no-repeat;
    border-radius: 16px;
    margin: auto;
    align-content: center;
}

.midnight-party-info{
    width: 697px;
    margin: 100px 0px;
    color: white;
    padding-left: 90px;
}

.midnight-party-description{
    font-family: "Inter", serif;
    font-size: 18px;
    margin: 24px 0px;
    font-weight: lighter;
}

.midnight-party-btn{
    background-color: transparent;
    color: white;
    font-family: "Inter", serif;
    font-size: 20px;
    font-weight: bold;
    text-transform: uppercase;
    border: none;
    padding-left: 35px;
    margin-top: 24px;
}

.midnight-party-img{
    width: 320px;
    margin-right: 90px;
    align-content: center;

}

/* agenda related style */

.agenda{
    margin-bottom: 120px;
}

.agenda > .global-container{
    height: 482px;
    background-image: linear-gradient(rgba(255, 0, 0, 0.1), rgba(255, 0, 0, 0));
    border-radius: 16px;
    margin: auto;
    text-align: center;
    align-content: center;
}

.agenda-info{
    font-family: "Inter", serif;
    font-size: 32px;
    font-weight: 500;
    color: #070211;
    margin: 14px 0px;
}

.agenda-info > span{
    color: #FF0000;
}

.agenda-btn{
    background-color: #FF0000;
    color: white;
    font-family: "Inter", serif;
    font-size: 20px;
    font-weight: bold;
    text-transform: uppercase;
    border: none;
    padding: 16px 32px;
    margin-top: 24px;
    border-radius: 8px;
}

/* coming soon section */

.coming-soon > .global-container{
    display: flex;
    margin: auto;
    align-items: center;
    margin-bottom: 120px;
    justify-content:space-between;
}

.coming-soon-best-offer{
    width: 393px;
}

.coming-soon-eye-brow{
    font-family: "Inter", serif;
    color: #FF0000;
    font-weight: 500;
    font-size: 24px;
    text-transform: uppercase;
}

.coming-soon-title{
    font-family: "Merriweather", serif;
    color: #070211;
    font-size: 48px;
    font-weight: bold;
    margin: 12px 0px 22px 0px;
}

.coming-soon-description{
    font-family: "Inter", serif;
    color: #070211;
    font-size: 20px;

}

.circle-image{
    padding: 25px;
    border: #FF0000 13px solid;
    border-radius: 50%;
    /* align-content: space-evenly; */
    margin-right: 100px;
}

.happy-new-year{
    width: 276px;
    height: 353px;
}

.coming-soon-date{
    font-family: "Inter", serif;
    font-size: 48px;
    font-weight: bold;
    color: #FF0000;
    margin-bottom: 16px;
}

.coming-soon-info{
    padding: 80px 0px 40px 0px;
}


/* images section related styles */

.images-container > .global-container{
    height: 986px;
    border-radius: 16px;
    margin: auto;
    margin-bottom: 120px;
    text-align: center;
    background-image: url(../images/Group\ 75.png), url(../images/Rectangle\ 2.png), url(../images/Group\ 44.png), url(../images/Rectangle\ 1.png);
    background-repeat: no-repeat;
    background-position: 10% bottom ,bottom, 73% 57%, 100% 60%;
    background-size: 600px, auto, auto, auto;
    
}

.images-content{
    width: 1068px;
    margin: auto;
}

.images-eyebrow{
    font-family: "Inter", serif;
    color: #070211;
    font-weight: 500;
    font-size: 24px;
    text-transform: uppercase;
    margin-bottom: 16px;
}

.images-section-title{
    font-family: "Merriweather", serif;
    font-size: 72px;
    font-weight: bold;
    margin-bottom: 28px;
}

.images-section-title > span{
 color: #FF0000;
}

.images-section-description{
    font-family: "Inter", serif;
    color: #070211;
    font-size: 20px;
}
